.container{
    margin: 0 auto;
    width: 18rem;
    display: flex;
}

.points{
    aspect-ratio: 1/0.7;
    background-color: rgba(128,128,128,0.219);
    border-radius: 0.2rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:0.8;

}

.details {
    flex: 1;
    font-size: 0.9rem;
    display: flex;
    margin: 0.5 rem;
    flex-direction: column;
    justify-content: space-between;

}

.vote{
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}